<h3>順番に出題({{file_num}})</h3>
<div class="content">
  <iframe src="{{ fpath }}" frameborder="no" height="650px" width="100%"></iframe>
  <a href="/{{ category }}/order/q/{{ file_num }}" style="font-size: 40pt;" >次の問題へ</a>
  <a href="#" onclick="history.back(); return false;" style="font-size: 40pt;">問題へ戻る</a>
  <a href="/{{ category }}" style="font-size: 15pt;">ランダムに出題</a>
  <a href="/{{ category }}/order" style="font-size: 15pt;">1番目の問題に戻る</a>
  <a href="/{{ master_pdf }}" style="font-size: 15pt;">教材を見る</a>
</div>
