<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microosft 資格試験練習問題</title>
</head>
<body>
  hello
</body>
  <body>
    <h2><a href="/" >市場調査App - v1.1</a></h2>
    <h3>タスク一覧</h3>
    <button onclick="location.href='/edit_task'">タスクの追加・編集</button>
    <div id="items">
      {% for i in data.task_list %}
      <a href="/shop_list/{{ i.id }}"><h3>{{ i.task_name }}</h3></a>
      {% endfor %}
    </div>
  </body>

</html>

